.library {
	position: fixed;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	color: #646464;
	background: #fff;
	box-shadow: 2px 2px 50px #aaaaaa;
	overflow-y: auto;
	opacity: 0;
	transform: translateX(-100%);
	transition: all 0.4s ease-in-out;

	& > h2 {
		padding: 1rem;
	}

	&-item {
		position: relative;
		display: flex;
		align-items: center;
		padding: 1rem;
		transition: all 0.2s ease;
		cursor: pointer;
		&:hover {
			background-color: #a88bc9;
			color: #fff;
		}

		&__image {
			width: 25%;
		}

		&__description {
			margin-left: 1rem;
			& h2 {
				font-size: 1.2rem;
				margin-bottom: 0.5rem;
			}
			& p {
				font-size: 0.9rem;
			}
		}

		&__icon {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}

		&_selected {
			background-color: #9b73c9;
			color: #fff;
		}
	}
	&_open {
		opacity: 1;
		transform: translateX(0%);
	}
}
