.player {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 20vh;

	&__time-control {
		width: 50%;
		display: flex;
		& input {
			width: 100%;
			margin: 1rem 0;
		}
		& span {
			padding: 1rem;
		}
	}

	&__play-control {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 30%;
		padding: 1rem;
		& svg {
			cursor: pointer;
		}
	}
}
