@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import './player';
@import './song';
@import './musicLibrary';
@import './musicLibraryToggle';

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;

	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-moz-range-thumb,
	&::-webkit-scrollbar-thumb {
		background: transparent;
		border: none;
	}
}

body {
	font-family: 'Lato', sans-serif;
}

img {
	width: 100%;
	object-fit: cover;
}

.App {
	transition: margin-left 0.4s ease;
	&_library-open {
		margin-left: 30%;
	}
}

.library-wrapper {
	position: relative;
	z-index: 100;
}

// custom range input styles
// track is wrapper around input
input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	background: transparent;
}

.track {
	position: relative;
	width: 100%;
	height: 1rem;
	margin: 1rem 0;
	border-radius: 1rem;
	overflow: hidden;
}
.animate-track {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(204, 204, 204);
	pointer-events: none;
	transition: all 0.5s ease;
	transform: translateX(0%);
}
